
body{
  font-family:"Montserrat", sans-serif;
  margin : 0;
  
}


.header{
  background-color: #D500F9;
  color : #FFFFFF;
  display: flex;
  justify-content : space-between;
  align-items: center;
  padding: 0 45px 0 15px;
  flex-wrap:wrap;
}

.nav li{
  margin-left: 20px;
}

.nav a{
  color: yellow;
  text-decoration : none;
  display: block;
  --transition : all 0.3s ease-out;
}

.nav a:hover{
  color: #c5cae9;
  --transform : rotate(6deg);
}

.nav{
  list-style : none;
  margin : 0;
  padding: 0;
  display: flex;
  
}



h1{
  color: #7B1FA2;
  color : #FFFFFF
  font-size: 3rem;
  border: 1px solid yellow;
  --font-family: "Inconsolata"; 
  font-weigth: normal;
  font-style : italic;
  
}

.hero{
  background-color: lightgray;
  padding : 40px 20px;
  display: flex;
  justify-content: center;
  
}

.hero-inner{
  max-width : 960px;
}

.hero h2{
  font-weight: normal;
  font_size: 4rem;
  margin: 0;
}

.hero p{
  font-size: 1.18rem;
  line-height: 1.6;
}

.learn_more_button{
  background-color: #3949ab;
  color: #FFF;
  text-decoration: none;
  padding:  12px 20px;
  border-radius: 8px;
  font-size: 1.18rem;
  display : inline-block;
}

.second{
  color:#40c2b3;
  border : 2px solid green;
  border-radius: 8px;
  background-color : #4A848C;
  padding : 20px;
  margin : 100px;
  
}

p2{
  color: green;
}

.features{

  background-color : lightgray;
  padding: 60px 45px;
  
}

.features-inner{
  max-width:1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap:30px;
  grid-row-gap: 45px;
}

.featured-item h3{
  color: #283593;
  font-size: 1.5rem;
  font-weight : normal;
  margin: 0;
}

.featured-item p{
  margin: 0;
  line-height : 1.6;
  color: #333
}

.footer{
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-size: 0.9rem;
}
